bucket         = "replace-with-your-terraform-state-bucket"
key            = "terraform-final-project/terraform.tfstate"
region         = "us-east-1"
dynamodb_table = "replace-with-your-terraform-lock-table"
encrypt        = true
